* {
  box-sizing: border-box;
  margin: 0;
  /*background-color: rgba(0, 0, 0, 0.1);*/
  color: white;
}

body {
  Font-Family: 'Roboto Slab', Serif;
}

#background {
  background: url('../img/ales-krivec.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
}

h1, h2, h3 {
  Font-Family: 'PT Sans', Sans-Serif;
}

h1 {
  font-size: 4em;
}

.container {
  margin: 0 auto;
  text-align: center;
  padding: 150px 50px 150px 50px;
}

#play-space {
  font-size: 4em;
}

.form-box {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

input, button {
  border-radius: 10px;
  padding: 5px;
}

input {
  color: #21222F;
}

.hidden {
  display: none;
}

#hint {

}

/* Modal Styling */

.modal {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

.modal-box {
  /* FYI temporary values */
  width: 500px;
  height: 200px;
  background: #8892A6;
  margin: 0 auto;
  position: relative;
  top: calc(50vh - 100px);
  border-radius: 6px;
  box-shadow: 0 0 15px #333;
  color: white;
}

a.close {
  display: block;
  float: right;
  font-size: 1.5em;
  color: white;
  padding-right: 10px;
  padding-top: 5px;
  text-decoration: none;
}

a.close:hover {
  color: #555;
}

#modal-title {
  text-align: center;
  padding-top: 20px;
}

#modal-content {
  text-align: center;
  padding: 10px 15px 10px 15px;
}

/*Animation of Modal*/

/*@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateX(140px)
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.modal-box {
  animation: slideup 0.7s cubic-bezier(1, 0.95, 0.9, 0.8);
}*/
