* {
    box-sizing: border-box;
    margin: 0;
    /*background-color: rgba(0,0,0,0.1);*/
    font-family: sans-serif;
  }

  h1, h3 {
    margin-left: 8px;
    font-weight: 200;
  }
  h1 {
    margin-top: 10px;
  }

  .container {
    margin: 0 auto;
    text-align: center;
  }

  .form-box {
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    padding-bottom: 25px;
  }

  .hidden {
    display: none;
  }
